.files-pane {
    -fx-border-color: #ddd;
    -fx-border-width: 0 1 1 1;
    -fx-border-radius: 0;
    -fx-background-radius: 6;
}

.table-cell {
    -fx-border-color: #ddd;
    -fx-border-width: 0 1 1 0;
}

.table-row:hover {
    -fx-background-color: #eee;
}
.table-head {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-weight: bold;
    -fx-background-color: #eee;
    -fx-border-color: #ddd;
    -fx-border-width: 1;
    -fx-border-radius: 6 6 0 0;
    -fx-background-radius: 6 6 0 0;
}
.table-footer {
     -fx-font-family: "Segoe UI Semibold";
     -fx-font-weight: bold;
     -fx-background-color: #eee;
     -fx-border-color: #ddd;
     -fx-border-width: 1;
     -fx-border-radius: 0 0 6 6;
     -fx-background-radius: 0 0 6 6;
 }
.table-mid-footer {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}
.table-footer-cell {
    -fx-border-color: #ddd;
    -fx-border-width: 0 0 0 1;
}